dist: trusty
sudo: required

notifications:
  email:
    - yunthanatos@gmail.com

language: c

compiler:
  - gcc
  - clang

install:
    - sudo apt-get install -qq -y libreadline-dev libncurses5-dev libpcre3-dev libssl-dev perl make build-essential valgrind valgrind-dev
    - sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-7 700 --slave /usr/bin/g++ g++ /usr/bin/g++-7
    
script:
    - gcc --version
    - make -j10
    - ldd src/luajit
    - echo ":)"
    - date
    - bash build.sh
