dist: trusty
sudo: required

notifications:
  email:
    - yunthanatos@gmail.com

language: c

compiler:
  - gcc
  - clang

install:
    - sudo apt-get install -qq -y libreadline-dev libncurses5-dev libpcre3-dev libssl-dev perl make build-essential
    - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
    - sudo apt-get -y update
    - sudo apt-get install -y gcc-7
    - sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-7 60 --slave /usr/bin/gcc-ar gcc-ar /usr/bin/gcc-ar-7 --slave /usr/bin/gcc-nm gcc-nm /usr/bin/gcc-nm-7 --slave /usr/bin/gcc-ranlib gcc-ranlib /usr/bin/gcc-ranlib-7
    
script:
    - gcc-7 --version
    - ls /usr/include
    - ls /usr/include/valgrind
    - gcc --version
    - make -j10
    - ldd src/luajit
    - echo ":)"
    - date
    - bash build.sh
