dist: trusty
sudo: required

notifications:
  email:
    - yunthanatos@gmail.com

language: c

compiler:
  - gcc
  - clang

install:
    - sudo apt-get install -qq -y libreadline-dev libncurses5-dev libpcre3-dev libssl-dev perl make build-essential valgrind
    - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
    - sudo apt-get update
    - sudo apt-key update
    - sudo apt-get install -y gcc-7
    - sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-7 60 --slave /usr/bin/gcc-ar gcc-ar /usr/bin/gcc-ar-7 --slave /usr/bin/gcc-nm gcc-nm /usr/bin/gcc-nm-7 --slave /usr/bin/gcc-ranlib gcc-ranlib /usr/bin/gcc-ranlib-7
    
script:
    - gcc-7 --version
    - gcc -g -O2 t.c -o t64
    - gcc -g -O2 -m32 t.c -o t32
    - file t64
    - file t32
    - time valgrind --leak-check=full --error-exitcode=135 --tool=memcheck ./t64
    - time valgrind --leak-check=full --error-exitcode=135 --tool=memcheck ./t32
    - ls /usr/include
    - ls /usr/include/valgrind
    - gcc --version
    - make -j10
    - ldd src/luajit
    - echo ":)"
    - date
    - bash build.sh
